<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Learn Vue JS</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
        <p>By {{author}} from {{location}}, {{age}} years old</p>

        <button @click="age++">Increase age</button>
        <button @click="age--">Decrease age</button>
        <button @click="changeAuthor">Change author</button>

        <div v-if="showDetails">
            <p>From Indonesia?: {{isIndonesian ? 'Yes' : 'No'}}</p>
            <input type="radio" v-model="isIndonesian" v-for="option in [true, false]" :key="option" :value="option" :id="option">
        </div>

        <button @click="showDetails = !showDetails">{{showDetails ? 'Hide' : 'Show'}} details</button>
    </div>

    <script src="app.js"></script>
</body>
</html>