<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Learn Vue JS</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
        <p>By {{author}} from {{location}}, {{age}} years old</p>

        <button @click="age++">Increase age</button>
        <button @click="age--">Decrease age</button>

        <button @click="changeAuthor">Change author</button>

        <p>From Indonesia?: {{pick}}</p>
        <input type="radio" v-model="pick" v-for="option in options" :key="option" :value="option" />
    </div>

    <script src="app.js"></script>
</body>
</html>