<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Learn Vue JS</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <h1>📖 {{title}}</h1>
        <p>By {{author}} from {{location}}, {{age}} years old</p>

        <button @click="age++">Increase age</button>
        <button @click="age--">Decrease age</button>
        <button @click="changeAuthor">Change author</button>

        <div v-if="showDetails">
            <h3>From Indonesia?: {{isIndonesian ? 'Yes' : 'No'}}</h3>
            <input type="radio" v-model="isIndonesian" v-for="option in [true, false]" :key="option" :value="option" :id="option">

            <h3>Portfolio</h3>
            <div class="box" v-for="item in filteredPortfolio" :key="item.name" @click="toggleVuePortfolio(item)">
                <a :href="item.url" target="_blank">{{item.name}}</a>
            </div>
        </div>

        <button @click="showDetails = !showDetails">{{showDetails ? 'Hide' : 'Show'}} details</button>

        <h2>🖱️ Mouse Events</h2>
        <div class="box" @mouseover="handleMouseEvent">mouseover (enter)</div>
        <div class="box" @mouseleave="handleMouseEvent">mouseleave (leave)</div>
        <div class="box" @dblclick="handleMouseEvent">dblclick</div>
        <div class="box" @mousemove="handleMouseMoveEvent">mousemove {{mouse.x}}, {{mouse.y}}</div>
    </div>

    <style>
        .box {
            width: 100px;
            height: 100px;
            background-color: #b9b9b9;
            border: 1px solid #000;
        }
    </style>

    <script src="app.js"></script>
</body>
</html>